{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"semi": false,
	"printWidth": 100,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"vueIndentScriptAndStyle": true,
	"singleAttributePerLine": true
}